[flake8]
format = wemake
max-line-length = 120
show-source = True
doctests = False
exclude =
    # Trash and cache:
    .git
    __pycache__
    .venv
    .eggs
    *.egg
    temp
ignore = D100, D101, D104, D105, D106, D200, D205, D400, D401,
    P101, P103,
    N801, N811,
    Q003,
    S101, S608,
    W504,
    WPS110, WPS300, WPS306, WPS407, WPS602, WPS615,
    DAR, RST
inline-quotes = single
per-file-ignores =
    mysite/mysite/settings.py: WPS226, WPS407
    mysite/manage.py: C812,
        Q000,
        WPS433, WPS453, WPS326
    **/migrations/*.py: WPS102
    **/tests.py: D102
